In [ ]:
Columns/Rows

In [3]:
import pandas as pd
import numpy as np

b1 = pd.read_csv("StudentsPerformance.csv")
b1.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
new_names=["Gen","Grp","Lvl","Lun","Prep","Cou","Math","Read","Wri"]
b2 = pd.read_csv("StudentsPerformance.csv", names = new_names)
b2

,Gen,Grp,Lvl,Lun,Prep,Cou,Math,Read,Wri
0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,NaN
1,female,group B,bachelor's degree,standard,none,72,72,74,NaN
2,female,group C,some college,standard,completed,69,90,88,NaN
3,female,group B,master's degree,standard,none,90,95,93,NaN
4,male,group A,associate's degree,free/reduced,none,47,57,44,NaN
...,...,...,...,...,...,...,...,...,...
996,female,group E,master's degree,standard,completed,88,99,95,NaN
997,male,group C,high school,free/reduced,none,62,55,55,NaN
998,female,group C,high school,free/reduced,completed,59,71,65,NaN
999,female,group D,some college,standard,completed,68,78,77,NaN
1000,female,group D,some college,free/reduced,none,77,86,86,NaN

In [8]:
b2.rename(columns = {"Gen":"Generation","Math":"Mat"} , inplace =True)
b2

,Generation,Grp,Lvl,Lun,Prep,Cou,Mat,Read,Wri
0,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,NaN
1,female,group B,bachelor's degree,standard,none,72,72,74,NaN
2,female,group C,some college,standard,completed,69,90,88,NaN
3,female,group B,master's degree,standard,none,90,95,93,NaN
4,male,group A,associate's degree,free/reduced,none,47,57,44,NaN
...,...,...,...,...,...,...,...,...,...
996,female,group E,master's degree,standard,completed,88,99,95,NaN
997,male,group C,high school,free/reduced,none,62,55,55,NaN
998,female,group C,high school,free/reduced,completed,59,71,65,NaN
999,female,group D,some college,standard,completed,68,78,77,NaN
1000,female,group D,some college,free/reduced,none,77,86,86,NaN

In [14]:
b2["Read"].describe()

count     1001
unique      78
top         74
freq        35
Name: Read, dtype: object

In [20]:
# b2["Read"] = b2['Read'].astype(float)
# b2["Read"].describe()

ValueError: ignored

If time is given in the csv file then use uthe time to differnetiate it

In [ ]:
# b2.date = pd.to_datetime(b2.date)
# b2.set_index('date',inplace =True)

# b2['2016']
# b2['2015':'2019']